// index
@mixin index($width, $fontSize) {
  .container {
    width: $width;
    margin: 0 auto;
  }

  .footer {
    border-top: 1px dashed #333;
  }

  .sitename {
    width: $width;
    height: 300px;

    color: #333;
    font-size: $fontSize;
    line-height: 300px;
    text-align: center;

    span {
      background: linear-gradient(90deg, #5151e5 10%, #72edf2 90%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .go-chat {
    width: 100%;
    height: 160px;

    .btn {
      height: 62px;
      padding: 0;

      .ctx {
        width: 300px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
      }
    }
  }

  .clear {
    clear: both;
  }

  .more {
    width: 100px;
    height: 72px;
    margin: 0 auto;

    .btn {
      padding-top: 0;

      .ctx {
        font-size: 14px;
      }
    }
  }
}

.pc {
  // < 576
  @media (max-width: 575.98px) {
    $width: 576px;
    $fontSize: 40px;
    @include index($width, $fontSize);
  }

  // > 576
  @media (min-width: 576px) and (max-width: 767.98px) {
    $width: 576px;
    $fontSize: 40px;
    @include index($width, $fontSize);
  }

  // > 768
  @media (min-width: 768px) and (max-width: 991.98px) {
    $width: 768px;
    $fontSize: 60px;
    @include index($width, $fontSize);
  }

  // > 992
  @media (min-width: 992px) and (max-width: 1199.98px) {
    $width: 992px;
    $fontSize: 60px;
    @include index($width, $fontSize);
  }

  // > 1200
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    $width: 1200px;
    $fontSize: 80px;
    @include index($width, $fontSize);
  }

  // > 1400
  @media (min-width: 1400px) {
    $width: 1400px;
    $fontSize: 80px;
    @include index($width, $fontSize);
  }
}

.mobile {
  $width: 16rem;
  $fontSize: 26px;

  @include index($width, $fontSize);
  .container {
    .header {
      .logo {
        font-size: 14px;
      }
      .navs > div:nth-last-child(1) {
        width: 100%;
      }
      .navs > div:nth-last-child(2) {
        display: none;
      }
      .navs > div:nth-last-child(3) {
        display: none;
      }
    }

    .sitename {
      height: 100px;
      line-height: 100px;
    }

    .go-chat {
      display: none;
    }
  }
}
